import os

basedir = os.path.abspath(os.path.dirname(__file__))

class Config(object):
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'you-will-never-guess'
    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
        'sqlite:///' + os.path.join(basedir, 'app.db')
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    TWILIO_ACCOUNT_SID = 'ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa64'
    TWILIO_AUTH_TOKEN = 'faaaaaaaaaaaaaaaaaaaaaaaaaaaaaac'
    TWILIO_PHONE_NUMBER = '+12602222222'

    UNIFI_WLC_IP = '10.2.3.4'
    UNIFI_WLC_PORT = '8443'
    UNIFI_WLC_USER = 'admin_api'
    UNIFI_WLC_PASSW = 'Pa$$w0rd'
    INIFI_WLC_VER = 'v5'
    UNIFI_WLC_SITE_ID = 'default'
    UNIFI_WLC_SSL_VERIFY = False

    TIME_QOUTE = '60'

    SMS_ENABLE = 0
    SMPP_SERVER = '22.22.22'
    SMPP_PORT = 44444
    SMPP_USER = 'smppuser'
    SMPP_PASSW = 'smppasw'
    SMPP_SOURCE = 'smpp_source'
