<html>
    <head>
        {% if title %}
        <title>{{ title }} - ACME WiFi</title>
        {% else %}
        <title>ACME WiFi</title>
        {% endif %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <P><img src="{{ url_for('static',filename='logo.png')}}"></P>
        </div>
        <hr>    
        <div class=page>
            <p>Добро пожаловать в сеть ACME WiFi!</p><br>
            <p>Для доступа к сети необходимо авторизоваться и получить код доступа</p>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
{% endwith %}
        {% block content %}{% endblock %}
        <hr>
    </body>
</html>