{% extends "base.html" %}

{% block content %}
<div class="form-group">
    <div class="alert alert-info">Введите полученный по SMS код</div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.pin(size=6,class="input-lg") }}<br>
            {% for error in form.pin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-success") }}</p>
    </form>
</div>
<div class="btn btn-default"><p><a href="{{ url_for('register') }}">Назад</a></p></div>
{% endblock %}